/.history
/.snapshots
/.env
/.dev-notes
/.venv
/.dev_notes
/logs
/__pycache__
*.pyc
*.pyo
.sourcetrail/Gemini-PR-Review-Poetry.srctrlbm
.sourcetrail/Gemini-PR-Review-Poetry.srctrldb
.sourcetrail/Gemini-PR-Review-Poetry.srctrlprj
docs/header.jfif
appmap.log
.sourcetrail/Gemini-PR-Review-Poetry.srctrldb_tmp
/logs/log.md